fastapi==0.114.2
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pydantic==2.9.2
SQLAlchemy==2.0.35
alembic==1.13.2
pandas==2.2.3
openpyxl==3.1.5
numpy==1.26.4
pdfminer.six==20240706
PyPDF2==3.0.1
python-dotenv==1.0.1
scikit-learn==1.4.2
matplotlib==3.9.2
seaborn==0.13.2
folium==0.15.1
